{% extends 'todo/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}




<div class="row mx-auto">
    <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xm-12">
<div class="continer text-center" style="margin-top: 11%; border: 1px solid lightgreen;">
    <div style="border-bottom: green; margin-bottom: 10px; margin-left: 10px;" >
        <h2>Login</h2>
        <h6 style="color: red;">{{ error }}</h6>
    </div>
<form action="{% url 'loginuser' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-success my-2" style="margin-left: 4%; ">login</button>
</form>   
<p>new user? <a href="{% url 'signupuser' %}"> sign up </a> here</p>
</div> 
</div>
</div>  


 {% endblock %}