{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block title %} View {% endblock %}

{% block content %}
<div class="container text-center">
    <h6 style="color: red; ">{{ error }}</h6>
    <!-- this will display the title of the blog  -->

    
    <div class="form-group" style="display: inline;">
        
        <form method="POST" style="display: inline-block;" >
            {% csrf_token %}
            <!-- this will display the form with data in it  -->
            {{ form|crispy }}
            <form method="POST" action="" class="form-inline" style="display: inline-block;" >
                {% csrf_token %}
                <button type="submit" class="btn btn-primary my-1 form-inline">Submit</button>
            </form> 
            <form method="POST" action="{% url 'comlpetetodo' todo.id %}" style="display: inline-block;" >
                {% csrf_token %}
                <button type="submit" class="btn btn-primary my-1 form-inline">Completed</button>
            </form>   
            <form method="POST" action="{% url 'deletetodo' todo.id %}" style="display: inline-block;" >
                {% csrf_token %}
                <button type="submit" class="btn btn-danger my-1 form-inline">Delete</button>
                </form>
        </form>




    </div>
</div>
{% endblock %} 